<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Worlding</title>
</head>
<body>
    <div style="margin: 30px 20px;">
        <div style="font-weight: bold;">Worlding</div>
        <div style="margin-top:40px;">
            Hola {{ name }}, gracias por unirte a <span style="font-size: bold">Worlding</span>.
        </div>
        <div style="margin-top:15px;">
            Por favor confirma tu correo electrónico, clicando en el link de abajo o escribiendo la dirección en el navegador: <br>
            <a href="{{ url }}" style="text-decoration: underline">{{ url }}</a>
        </div>
        <div style="margin-top:40px;">
            <div>Gracias,</div>
            <div>
                Equipo de Worlding
            </div>
        </div>
    </div>
</body>
</html>