<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Worlding</title>
</head>
<body>
  <div style="margin: 30px 20px;">
    <div style="font-weight: bold;">Worlding</div>
    <div style="margin-top:40px; width: 100%;">
      {{ name }}, este es tu código: <span style="background-color:black; color:white; padding: 3px; border-radius: 5px;">{{
        code }}</span>
    </div>
    <div style="margin-top:15px; width: 100%;">
      Con este código podrás logearte en nuestra aplicación iOS o Androdi, y conseguir tu primera ruta gratis.
    </div>
    <div style="margin-top:15px; width: 100%;">
      Ahora mismo, estamos trabajando en el desarrollo de nuestra aplicación móvil la cuál estará disponible pronto en las tiendas.
    </div>
    <div style="margin-top:15px; width: 100%;">
      Te lo notificaremos.
    </div>
    <div style="margin-top:40px;">
      <div>Gracias,</div>
      <div>
        Worlding Team
      </div>
    </div>
  </div>
</body>
</html>