<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Worlding</title>
</head>

<body>
  <div style="margin: 30px 20px;">
    <div style="font-weight: bold;">Worlding</div>
    <div style="margin-top:40px; width: 100%;">
      We have recived your message and we will answer you as soon as posible.
    </div>
    <div style="margin-top:15px;">
      Your email: {{ email }}<br>
      Your message: {{ message }}
    </div>
    <div style="margin-top:40px;">
      <div>Thanks,</div>
      <div>
        Worlding Team
      </div>
    </div>
  </div>
</body>

</html>