<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Worlding</title>
</head>

<body>
    <div style="margin: 30px 20px;">
        <div style="font-weight: bold;">Worlding</div>
        <div style="margin-top:40px;">
            Hi {{ name }}, thanks for join to <span style="font-size: bold">Worlding</span>.
        </div>
        <div style="margin-top:15px;">
            Please confirm your mail, clicking on the link below or type in your browser: <br>
            <a href="{{ url }}" style="text-decoration: underline">{{ url }}</a>
        </div>
        <div style="margin-top:40px;">
            <div>Thanks,</div>
            <div>
                Worlding Team
            </div>
        </div>
    </div>


</body>

</html>