<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Worlding</title>
</head>

<body>
  <div style="margin: 30px 20px;">
    <div style="font-weight: bold;">Worlding</div>
    <div style="margin-top:40px; width: 100%;">
      ¡Hola {{ name }}! Tu correo electrónico: {{ email }} está confirmado.
    </div>
    <div style="margin-top:40px;">
      <div>Gracias,</div>
      <div>
        Equipo de Worlding
      </div>
    </div>
  </div>
</body>

</html>