<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Worlding</title>
</head>

<body>
  <div style="margin: 30px 20px;">
    <div style="font-weight: bold;">Worlding</div>
    <div style="margin-top:40px; width: 100%;">
      Hemos recibido tu mensaje y te responderemos tan pronto como podamos.
    </div>
    <div style="margin-top:15px;">
      Tu dirección de correo electrónico: {{ email }}<br>
      Tu mensaje: {{ message }}
    </div>
    <div style="margin-top:40px;">
      <div>Gracias,</div>
      <div>
        Equipo de Worlding
      </div>
    </div>
  </div>
</body>

</html>